# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = clothing_scrapers.settings

[deploy]
#url = http://localhost:6800/
project = clothing_scrapers


# Project: clothing_scrapers
#url = https://dash.scrapinghub.com/api/scrapyd/
#username = 1b206275f48e4b6eb1d8a451fc8a0a0f
#project = 30021
